*
!*.*
.vscode

ast_math.lua
builtin.lua
ctokens.lua
dumb.lua
inspect.lua
test.lua
ttp.lua

out.txt
todo.todo
cmd

result.tbl

clua/

code.clua
stdint.clua
stdio.clua
stdlib.clua
main.clua
preprocessor.clua
tokens.clua