.vscode/
src/AFS

ast_math.lua
builtin.lua
ctokens.lua
dumb.lua
inspect.lua
test.lua
ttp.lua

out.txt
todo.todo
cmd

result.tbl
compiler2.zip

clua/

test/ast.txt
test/tokens.clua
test/preprocessor.clua
test/stdio.clua
test/stdint.clua